html{
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #339999;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #FBA183;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: aliceblue;
    text-shadow: 3px 3px 1px black;
}

/*
여기서 사용했던 꽤 흥미로운 속성 하나는 text-shadow 문자로, 요소의 문자 콘텐츠에 그림자를 적용해줍니다. 네 개의 값들은 다음과 같습니다:

    첫 번째 pixel 값은 그림자의 수평 오프셋을 설정합니다 — 얼마나 옆으로 이동시킬 것인지.
    두 번째 pixel 값은 그림자의 수직 오프셋을 설정합니다 — 얼마나 아래로 이동시킬 것인지.
    세 번째 pixel 값은 그림자의 흐림 반경을 설정합니다 — 큰 값은 더 흐릿한 그림자를 의미합니다.
    네 번째 pixel 값은 그림자의 기본 색상을 설정합니다.

*/

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
/*line-height 줄의 높이
letter-spacing 자간*/

img{
    display: block;
    margin: 0 auto;
}

/*
이미지를 더 나아보이도록 가운데로 둘 것입니다. 
전에 body 에서 했듯이 다시 margin: 0 auto 트릭을 사용해 볼 수 있지만, 
무언가 더 해야할 필요가 있습니다. 
body 요소는 block level 입니다. 
이것은 페이지의 공간을 차지하고, margin 과 여기에 적용된 다른 여백값을 가질 수 있다는 것을 의미합니다. 
반면에 이미지는 inline 요소 입니다. 
이것은 그렇지 못함을 의미합니다. 
따라서 이미지에 margin 을 적용하기 위해서는,  
display: block; 을 사용해 이미지에 block-level 성질을 주어야 합니다.
*/

